body{
    display: block;
    width: 97vw;
    height: 90vh;
    align-items: center;
}

#nut {
    font-size: medium;
    width: auto;
    height: auto;
}

#frame {
    padding: 0;
    width: 100%;
    height: 100%;
}